{% extends "base.html" %}
{% block body %}
	<a class="back-link" href="{{ url_for('showMenu', restaurant_id = restaurant_id) }}">Back to Menu</a>
	<div class="form-container">
		<h2>Are you sure you want to delete the restaurant <span style="text-decoration: underline">{{ restaurant.name }}</span>?</h2>
		<form method="POST" action="{{ url_for('deleteRestaurant', restaurant_id = restaurant_id) }}" enctype="multipart/form-data">
			<input class="submit-input" type="submit" value="Delete"> | <a href="{{ url_for('showMenu', restaurant_id = restaurant_id) }}">Cancel</a>
		</form>
	</div>
{% endblock %}