{% extends "base.html" %}
{% block body %}
	<a class="back-link" href="{{ url_for('showMenu', restaurant_id = restaurant_id) }}">Back to Menu</a>
	<div class="form-container">
		<h2>Rename <span style="text-decoration: underline">{{ restaurant.name }}</span></h2>
		<form method="POST" action="{{ url_for('editRestaurant', restaurant_id = restaurant_id) }}" enctype="multipart/form-data">
			<label>Name:</label>
			<br>
			<div class="error">{{ error }}</div>
			<input class="text-input" type="text" size="30" name="name" value="{{ restaurant.name }}">
			<br>
			<br>
			<input class="submit-input" type="submit" value="Rename"> | <a href="{{ url_for('showMenu', restaurant_id = restaurant_id) }}">Cancel</a>
		</form>
	</div>
{% endblock %}